<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <input v-model="message">
        <ol>
            <li v-for="item in list">{{ item }}</li>
        </ol>
        <button v-on:click="handleClick">Click</button>
        <p>{{ count }}</p>
        <input v-model.number="count">
        <p v-if="show">ShowがTrueなら表示</p>
        <button v-on:click="show=!show">切り替え</button>
        <transition>
            <p v-if="show">halo</p>
        </transition>
        名前 <input v-model="name">
        <button v-on:click="doAdd">モンスターを追加</button>
        <ul>
            <li v-for="(item, index) in monster" v-bind:key="item.id">
                ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }} 
                <button v-on:click="doRemove(index)">モンスターを削除</button>
                <span v-if="item.hp < 50">瀕死！</span>
                <button v-on:click="doAttack(index)">攻撃する</button>
            </li>
        </ul>
        <ul>
            <li v-for="(item, index) in mlist" v-bind:key="item.id">
                ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
            </li>
        </ul>
        <p ref="hello">Hello</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>